{% extends "layout.html" %}
<!-- Login page -->
{% block title%}Login - Purple{% endblock %}

{% block content %}
<h1>Login</h1>
<hr />

<form action="/login" method="post">
  <p>
    <label for="username">* Username</label>: <br />
    <input id="username" type="text" name="username" value="{{ filled.username }}" required class="title" />
  </p>

  <p>
    <label for="password">* Password</label>: <br />
    <input id="password" type="password" name="password" required class="title" />
  </p>

  {% for message in get_flashed_messages() %}
    <p class="error">
      <b>{{ message }}</b>
    </p>
  {% endfor %}

  {% if next_page %}
    <input type="hidden" name="next_page" value="{{ next_page }}" />
  {% else %}
    <input type="hidden" name="next_page" value="/" />
  {% endif %}
  <input type="submit" value="Login" class="button_send" />
</form>
{% endblock %}