{% extends "layout.html" %}
<!-- User page -->
{% block title %}
  {% if user.developer == 0 %}
    Reviewer {{ user.username }} - Purple
  {% else %}
    Developer {{ user.username }} - Purple
  {% endif %}
{% endblock %}

{% block content %}
{% for message in get_flashed_messages() %}
  <p class="success">
    <b>{{ message }}</b>
  </p>
{% endfor %}

{% if user.developer == 0 %} <!-- reviewer -->
  <h2>Reviewer {{ user.username }}</h2>
  <hr />

  {% if user.has_image %}
    <div class="user_page_img">
      <img src="/profile_picture/{{ user.id }}" alt="User {{ user.username }}'s profile picture" />
    </div>
    <br />
  {% endif %}

  {% if user.id == session.user_id %}
    <a href="/update_profile_picture">Update profile picture</a>
    <br />
  {% endif %}

  <p>
    {{ user.username }} has given {{ reviews | count }} {{ "reviews" if reviews | count != 1 else "review" }}
  </p>

  {% if reviews %}
    <p>
      First review sent {{ reviews[-1].sent_at }}
    </p>

    <p>
      Latest review sent {{ reviews[0].sent_at }}
    </p>
  {% endif %}

  {% if reviews | count != 0 %}
    <hr />
    <h3>Reviews</h3>
  {% endif %}
  {% for review in reviews %}
    <div class="review">
      <p>
        <a href="/game/{{ review.game_id }}#{{ review.id }}">{{ review.game_title }}</a>
      </p>

      <p>
        ({{ review.sent_at }})
        <br />
        {{ review.content }}
        <br />
        <b>Score: {{ review.score }}</b>
      </p>

      {% if user.id == session.user_id %}
        <p>
          <a href="/edit_review/{{ review.id }}">Edit</a> |
          <a href="/delete_review/{{ review.id }}">Delete</a>
        </p>
      {% endif %}
    </div>
  {% endfor %}

{% else %} <!-- developer -->
  <h2>Developer {{ user.username }}</h2>
  <hr />

  {% if user.has_image %}
    <div class="user_page_img">
      <img src="/profile_picture/{{ user.id }}" alt="Developer {{ user.username }}'s profile picture" />
    </div>
    <br />
  {% endif %}

  {% if user.id == session.user_id %}
    <a href="/update_profile_picture">Update profile picture</a>
    <br />
  {% endif %}

  <p>
    {{ user.username }} has published {{ games | count }} {{ "games" if games | count != 1 else "game" }}
  </p>

  {% if games %}
    <p>
      First game uploaded {{ games[-1].uploaded_at }}
    </p>

    <p>
      Latest game uploaded {{ games[0].uploaded_at }}
    </p>
  {% endif %}

  {% if games | count != 0 %}
    <hr />
    <h3>Games</h3>
  {% endif %}
  {% for game in games %}
    <div class="game">
      <p>
        <a href="/game/{{ game.id }}">{{ game.title }}</a>
      </p>
      <p>
        ({{ game.uploaded_at }})
        <br />
        {{ game.description }}
        <br />
        {% if all_dev_game_classes[game.id] %}
          {% for category in all_dev_game_classes[game.id]['Category'] if all_dev_game_classes[game.id]['Category'] %}
            <div class="category">{{ category }}</div>
            {% if loop.index % CATEGORIES_PER_LINE == 0 %}
              <br />
            {% endif %}
          {% endfor %}
          <br />
        {% endif %}
        {% if game.total != 0 %}
          <b>
            {{ game.total }} {{ "reviews" if game.total > 1 else "review"}} with
            {{ ("an average score of " ~ game.average) if game.total > 1 else ("a score of " ~ game.average) }}
          </b>
        {% else %}
          <b>No reviews</b>
        {% endif %}
      </p>
      {% if user.id == session.user_id %}
        <p>
          <a href="/edit_game/{{ game.id }}">Edit</a> |
          <a href="/delete_game/{{ game.id }}">Delete</a>
        </p>
      {% endif %}
    </div>
  {% endfor %}
{% endif %}
{% endblock %}